PORT=3000
DB_USER=postgres
DB_PASS=is101106
DB_PASSWORD=is101106
DB_DATABASE=perpustakaan
DB_NAME=perpustakaan
DB_HOST=localhost
DB_PORT=5432
DB_DIALECT=postgres
JWT_SECRET=supersecretkey_118_apirelasi
JWT_EXPIRES=1d
